[class^="banner"] > .usr-bg-icon-clickable {
  opacity: 0% !important;
  border-radius: 50px;
  background-color: rgba(10, 10, 10, 0.375);
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.2s ease-in-out;
}

[class^="banner"]:hover > .usr-bg-icon-clickable {
  opacity: 100% !important;
}

[class*="bannerSVGWrapper"].usrbg {
  min-height: 233px !important;
}

[class*="bannerSVGWrapper"].usrbg mask circle {
  cy: 253 !important;
}

[class*="bannerSVGWrapper"].usrbg [class*="settingsBanner"] {
  height: 223px !important;
  min-height: 223px !important;
}

[class*="bannerSVGWrapper"].usrbg + div [class*="avatar_"] {
  top: 213px !important;
}

.usrbg-instructions-image {
  border-radius: 10%;
}

.usrbg-instructions {
  border-width: 1px;
  border-color: rgb(85, 85, 85);

  border-style: dotted;
}
