[class^="outer"] > div > div > div > .usrbg {
  border-radius: var(--radius-round);
  transition: background-color var(--custom-button-transition-duration) ease,
    color var(--custom-button-transition-duration) ease;
  background: var(--redesign-button-overlay-alpha-background);
  cursor: pointer;
  padding: 8px;
  display: flex;
  display: flex;
}

[class^="outer"] > div > div > div > .usrbg:hover {
  background: var(--redesign-button-overlay-alpha-pressed-background);
}

[class^="outer"] > div > div > div > .usrbg svg {
  height: 16px !important;
  width: 16px !important;
}

[class^="banner"] > .usr-bg-icon-clickable {
  opacity: 0% !important;
  border-radius: 50px;
  background-color: rgba(10, 10, 10, 0.375);
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.2s ease-in-out;
}

[class^="banner"]:hover > .usr-bg-icon-clickable {
  opacity: 100% !important;
}

[class^="accountProfileCard"] .usrbg {
  min-height: 233px !important;
}

[class^="accountProfileCard"] .usrbg mask circle {
  cy: 253 !important;
}

[class^="accountProfileCard"] .usrbg [class^="banner"] {
  height: 223px !important;
  min-height: 223px !important;
}

[class^="accountProfileCard"] .usrbg + div [class*="avatar_"] {
  top: 213px !important;
}

.usrbg-instructions-image {
  border-radius: 10%;
}

.usrbg-instructions {
  border-width: 1px;
  border-color: rgb(85, 85, 85);

  border-style: dotted;
}
